<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
        <title>Profile Leonardo Ignatius</title>
        <link rel="stylesheet" href="{% static 'profil.css' %}">
</head>
<body>
    <div class="foto">
        <img class="foto" src="https://i.postimg.cc/gkcGfy1T/Pas-Photo-Copy.jpg" alt="pas photo">
    </div>
    <div class="nama">
        <h1>{{ name }}</h1>
    </div>
    <div class="biodata">
        <!--TTL-->
        <h2>Tempat dan Tanggal Lahir:</h2>
        <p>Jakarta, 18 September 2001</p>
        <!--Asal daerah-->
        <h2>Asal Daerah:</h2>
        <p>Jakarta</p>
        <!--Pekerjaan Pendidikan-->
        <h2>Pekerjaan Dan Pendidikan:</h2>
        <p>Promotion Team Binus University, Mahasiswa Baru IT Binus University</p>
        <!--Harapan-->
        <h2>Harapan Mengikuti Kelas ini:</h2>
        <p>Dapat mendapatkan Experience dan Networking, dan juga mendalami Web Programming</p>
        <h2>Umur:</h2>
        <article>{{ age }} Tahun</article>
    </div>
    <div id="socmed">
        <p id="socmed">Click here for Social Media:</p>
    </div>
    <div class="icon">
       <a href="https://www.instagram.com/leonardoignatius/?hl=en">
        <img class="icon" src="https://i.postimg.cc/pdmT3Q5H/Instagram-logo.png" alt="ig">
       </a>
       <a href="https://www.facebook.com/leonardo.ignatius.5">
        <img class="icon" src="https://i.postimg.cc/8zjNCppd/1024px-F-icon-svg.png" alt="fb">
       </a>
       <a href="https://id.linkedin.com/in/leonardo-ignatius-4bba20184">
        <img class="icon" src="https://i.postimg.cc/vHPGMgsH/square-linkedin-512.png" alt="li">
       </a>

    </div>
</body>
</html>
