<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Menu</title>
  <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body>
    <div>
        <h1 id = 'menu'>MENU</h1>
    </div>
    <div>
        <a id = "profil" href="/profil"><img src="https://i.postimg.cc/L6DPFzcr/Untitled-1.png" alt="Untitled-1"></a>
    </div>
    <div>
        <a id = "exp" href="/my_experience"><img src="https://i.postimg.cc/X7YJFtPz/Untitled-2.png" alt="Untitled-2" ></a>
    </div>
</body>
</html>
